{{#> default}}
{{#*inline "content-body"}}
<section class="section course-detail">
  <div class="course-detail__banner" style="background-image: url({{contents.avatar}});">
    <div class="overlay"></div>
    <div class="container">
      <h3 class="course-detail__heading">{{contents.heading}}</h3>
    </div>
  </div>

  <div class="course-detail__join box" data-aos="fade-up">
    <div class="container">
      <h4 class="course-detail__title-blue">{{contents.join.title}}</h4>
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul class="course-detail__list">
            {{#each contents.join.items}}
              <li class="course-detail__item">{{this}}</li>
            {{/each}}
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="course-detail__target box bg-blue" data-aos="fade-up">
    <div class="container">
      <h4 class="course-detail__title-white">{{contents.target.title}}</h4>
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul class="course-detail__list">
            {{#each contents.target.items}}
            <li class="course-detail__target-item course-detail__item">{{this.item.detail}}
              <ul>
                {{#if this.item.subItem}}
                {{#each this.item.subItem}}
                <li class="course-detail__target-subitem">{{this}}</li>
                {{/each}}
                {{/if}}
              </ul>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="course-detail__time bg-light-grey box" data-aos="fade-up">
    <div class="container">
      <h4 class="course-detail__title-blue">{{contents.time.title}}</h4>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-9">
          <ul class="course-detail__list">
            {{#each contents.time.items}}
            <li class="course-detail__item">{{this.item.detail}}
               <ul>
                {{#if this.item.subItem}}
                {{#each this.item.subItem}}
                <li class="course-detail__target-subitem">{{this}}</li>
                {{/each}}
                {{/if}}
              </ul>
            </li>
            {{/each}}
          </ul>
        </div>

        {{#is contents.status 'coming'}}
        <div class="col-lg-3 text-right">
          <a class="btn btn-custom" target="{{contents.time.register.target}}" href="{{contents.time.register.url}}">
            <span>{{contents.time.register.text}}</span>
          </a>
        </div>
        {{/is}}
      </div>
    </div>
  </div>

  <div class="container-fluid p-0 course-detail__more" data-aos="fade-up">
    {{#each contents.more}}
    <div class="row no-spacing course-detail__more-wrapper" data-aos="fade-up">
      <div class="col-lg-6 order-lg-2 course-detail__more-img" style="background-image:url('{{this.urlImg}}')"></div>
      <div class="col-lg-6 order-lg-1 my-auto course-detail__more-content">
        <h4 class="course-detail__more-title">{{this.title}}</h4>
        <ul class="course-detail__list">
          {{#each this.items}}
          <li class="course-detail__item">{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="course-detail__content box" data-aos="fade-up">
    <div class="container z-height">
      <h4 class="course-detail__title-white">{{contents.content.title}}</h4>
      <div class="row justify-content-center">
        {{#each contents.content.items}}
        <div class="col-lg-4
        {{#switch ../contents.content.items.length}}
          {{#case '1'}} col-lg-8 {{/case}}
          {{#case '2'}} col-lg-6 {{/case}}
         {{/switch}}">
          <div class="course-detail__content-item">
            <div class="text-center mb-3">
              <span class="course-detail__content-icon">
                {{{this.icon}}}
              </span>
            </div>
            {{#if this.title}}
            <h4 class="course-detail__content-subtitle">{{this.title}}</h4>
            {{/if}}
            <ul>
              {{#each this.list}}
              <li>{{{this}}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="course-detail__speakers box" data-aos="fade-up">
    <div class="container">
      <h4 class="course-detail__title-blue">{{contents.speakers.title}}</h4>
      <div class="row justify-content-center">
        {{#each contents.speakers.items}}
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="course-detail__speakers-avatar">
            <img src="{{this.avatar}}" alt="{{this.alt}}">
          </div>
          <h5 class="course-detail__speakers-name">{{this.name}}</h5>
          <div class="course-detail__speakers-job">{{this.job}}</div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>

  <div class="course-detail__document box bg-blue" data-aos="fade-up">
    <div class="container">
      <h4 class="course-detail__title-white">{{contents.document.title}}</h4>
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul class="course-detail__list">
            {{#each contents.document.items}}
            <li class="course-detail__target-item course-detail__item">{{{this}}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{/inline}}
{{/default}}