{{#> default}}
{{#*inline "content-body"}}
<section class="section courses">
   <div class="home__products box bg-light-grey">
    <div class="container">
      <div class="home__heading">
        {{contents.products.heading}}
      </div>
      <div class="row home__products-block">
        {{#each contents.products.items}}
          <a class="col-sm-6 col-lg-4 home__products-item" href="{{href}}" target="{{target}}" data-aos="fade-up">
            <div class="home__products-img-wrapper" style="background-image: url({{imgUrl}});">
            </div>
            <div class="home__products-content">
              <p class="home__products-title">{{title}}</p>
              <p class="home__products-desc" style="-webkit-box-orient: vertical;">{{desc}}</p>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</section>
{{/inline}}
{{/default}}