{{#> default}}
{{#*inline "content-body"}}
<section class="section home js-home">

  <div class="home__masthead js-home-masthead" id="banner">
    {{#each contents.masthead}}
    <a href="{{link.href}}" target="{{link.target}}" class="home__masthead-item"
      style="background-image: url({{imgUrl}});"></a>
    {{/each}}
  </div>

  <div class="home__intro box" id="intro">
    <div class="container">
      <div class="home__heading" data-aos="fade-up" data-aos-offset="300">
        {{contents.intro.heading}}
      </div>
      <div class="home__subhead" data-aos="fade-up" data-aos-offset="300">
        {{{contents.intro.subHead}}}
      </div>
      <div class="row home__intro-block" data-aos="fade-up" data-aos-offset="300">
        {{#each contents.intro.statistics}}
        <div class="col-sm-4 home__intro-item">
          <h3 class="home__intro-number js-counter" data-count="{{number}}">0</h3>
          <p class="home__intro-desc">{{text}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="home__products box bg-light-grey" id="products" data-aos="fade-up" data-aos-offset="300">
    <div class="container">
      <div class="home__heading">
        {{contents.products.heading}}
      </div>
      <div class="row home__products-block">
        {{#each contents.products.items}}
          <div class="col-sm-6 col-lg-4 home__products-item" data-aos="fade-up" data-aos-offset="300">
            <div class="home__products-img-wrapper" style="background-image: url({{imgUrl}});">
            </div>
            <div class="home__products-content">
              <a href="{{title.href}}" target="{{title.target}}" class="home__products-title">{{title.text}}</a>
              <p class="home__products-desc" style="-webkit-box-orient: vertical;">{{desc}}</p>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="text-right">
        <a class="btn btn-custom" target="{{contents.products.coursesBtn.target}}"
          href="{{contents.products.coursesBtn.href}}">
          <span>{{contents.products.coursesBtn.text}}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="home__group box" id="group">
    <div class="container">
      <div class="home__heading" data-aos="fade-up" data-aos-offset="300">
        {{contents.group.heading}}
      </div>
      <div class="row home__group-block">
        {{#each contents.group.items}}
        <div class="col-sm-6 col-lg-4 home__group-item" data-aos="fade-up" data-aos-offset="300">
          <div class="home__group-background" style="background-image: url({{imgUrl}});">
          </div>
          <div class="overlay">
            <h3 class="home__group-title">{{title}}</h3>
            <p class="home__group-desc" style="-webkit-box-orient: vertical;">{{desc}}</p>
            <a href="{{seeMoreBtn.href}}" target="{{seeMoreBtn.target}}" class="home__group-btn-see-more">
              {{seeMoreBtn.text}}
              <span class="glyphicon glyphicon-cloud"></span>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="home__feedback box" id="feedback" data-aos="fade-up" data-aos-offset="300">
    <div class="container">
      <div class="home__heading">
        {{contents.feedback.heading}}
      </div>
      <div class="row home__feedback-block js-home-feedback">
        {{#each contents.feedback.items}}
        <div class="home__feedback-item">
          <div class="home__feedback-content">
            <p class="home__feedback-comment">{{comment}}</p>
            <p class="home__feedback-job">{{job}}</p>
            <p class="home__feedback-name">{{name}}</p>
          </div>
          <div class="home__feedback-avatar" style="background-image: url({{avatar}});">
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="home__contact box" id="contact" data-aos="fade-up" data-aos-offset="300">
    <div class="container">
      <p class="home__contact-desc">{{contents.contact.desc}}</p>
      <a class="btn btn-custom" target="{{contents.contact.btnContact.target}}" href="{{contents.contact.btnContact.href}}">
        <span>{{contents.contact.btnContact.text}}</span>
      </a>
    </div>
  </div>

</section>
{{/inline}}
{{/default}}