<!-- Begin Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__contact">
      <h4 class="footer__contact-title">{{data.footer.textContact}}</h4>
      <div class="row">
        {{#each data.footer.footerContact}}
        <div class="col-md-6">
          <div class="footer__item">
            <h4 class="footer__contact-subtitle">{{this.title}}</h4>
            <p class="footer__contact-detail {{#if this.icon}}ml-20{{/if}}">{{{this.icon}}} {{this.address}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="row footer__bottom">
      <div class="col-md-8">
        <img src="{{data.footer.urlLogoFooter}}" alt="">
        <span class="footer__copyright">{{data.footer.copyRight}}</span>
      </div>
      <div class="col-md-4 footer__icon">
        <a href="https://www.facebook.com/NtqSolutionJsc">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a> &nbsp;
        <a href="https://plus.google.com/117686272349981988742">
          <i class="fa fa-google-plus-square"></i>
        </a>&nbsp;
        <a href="http://www.ntq-solution.com.vn/">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->