<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top header__navbar" id="navbar">
    <div class="container">
      <a class="navbar-brand header__logo" href="/">
        <img src="{{data.img_url}}{{data.header.logo}}" alt="{{data.header.alt}}">
      </a>
      <button class="navbar-toggler header__hamburger" type="button" data-toggle="collapse" data-target="#toggleContent"
        aria-controls="toggleContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="header__hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>

      <div class="collapse navbar-collapse" id="toggleContent">
        <ul class="navbar-nav ml-auto header__menu">
          {{#each data.header.menuItems as |item indexItem|}}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{item.link}}">{{item.text}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </nav>
</header>